
body{
 
}
nav{

position: fixed;
}
.zindex{
   display: flex;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   align-items: center;
   gap: 40px;
   margin-top: 100px;

}
.div1{
    width: 300px;
    height: 200px;
    background-color: blue;
    z-index: 10;

}
.carousel-inner{
    height: 90vh;
}
.collapse_container{
    margin: 80px;
    
}
.container{
    height: 60vh;
}